<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Dinnah" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dinnah" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>

  <% if content_for?(:big_banner) %>
    <!-- First Band (Image) -->
    <div class="row">
      <div class="twelve columns">
        <%= yield :big_banner %>
      </div>
    </div>
  <% end %>
 
  <div class="row">
      <div class="twelve columns">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
  </div>

  <!-- Footer -->
  
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <!-- <p>&copy; </p> -->
        </div>
        <div class="six columns">
        </div>
      </div>
    </div> 
  </footer>
  </body>
</html>
